<footer class="footer">
  <div class="container">
    <div class="footer-sections">
      <div class="row">
        <section class="column-small-4 footer-sections-element">
          <h3 class="footer-sections-element-heading">
            {{ site.title }}とは
          </h3>
          <div class="footer-sections-element-description">
            {{ site.description_long }}
          </div>
        </section>
        <section class="column-small-4 footer-sections-element">
          <h3 class="footer-sections-element-heading">
            購読
          </h3>
          <div class="footer-sections-element-description">
            新しいエピソードの配信を購読できます。
          </div>
          <ul>
            {% if site.itunes_podcast_url %}
              <li>
                <a href="{{ site.itunes_podcast_url }}" target="_blank">iTunesで購読</a>
              </li>
            {% endif %}
            <li>
              <a href="{{ site.github.url }}/feed.xml" target="_blank">RSSで購読</a>
            </li>
            <li>
              <a href="{{ site.github.url }}/subscribe_guide/SensePlayer.html/">視覚障害者向けマルチプレーヤー「センスプレーヤー」シリーズにBlind Tech JPを登録する方法</a>
            </li>
          </ul>
        </section>
      </div>
    </div>
    <div class="footer-copyright">
      © 2026 <a href="{{ site.github.url }}/">{{ site.title }}</a>
    </div>
  </div>
</footer>
<script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/2.23.4/mediaelement-and-player.min.js"></script>
