<!DOCTYPE html>
<html lang={{ site.language }}>
  {% include head.html %}
  <body>
    {% include header.html %}
    <main class="main">
      <div class="container">
        <article class="article card">
          <header class="article-header card-header">
            <h2 class="card-heading">
              <a href="{{ page.url | prepend:site.github.url }}">
                {{ page.title }}
              </a>
            </h2>
            <div class="article-header-note">
              {{ page.date | date: "%Y年%m月%d日" }}
            </div>
          </header>
          <section class="card-body markdown">
            <p>
              <audio
                class="mejs-player"
                controls=""
                data-mejsoptions='{"alwaysShowControls": true, "alwaysShowHours": true, "enableAutosize": true, "features": ["playpause", "progress", "current", "duration", "volume", "speed"]}'
                preload="auto"
                src="{{ page.audio_file_path | prepend:site.github.url }}"
                width="100%"
              >
              </audio>
            </p>
            <p class="text-right">
              <small>
                <a href="{{ page.audio_file_path | prepend:site.github.url }}">MP3ファイルをダウンロード</a>
              </small>
            </p>
            <h3>
              内容紹介
            </h3>
            <p>
              {{ page.description }}
            </p>
            <h3>
              出演者
            </h3>
            <div class="article-actors">
              {% for actor_id in page.actor_ids %}
                {% assign actor = site.actors[actor_id] %}
                <a href="{{ actor.url }}" class="actor" target="_blank">
                  <!-- <img src="{{ actor.image_url | prepend:site.github.url }}" alt="{{ actor.name }}" class="actor-image" width="72" height="72"> -->
                  <!-- <br> -->
                  {{ actor.name }}
                </a>
              {% endfor %}
            </div>
            {{ content }}
            <h3>
              メッセージをお待ちしています
            </h3>
            <p>
              番組をお聞きになってのご意見やご感想、取り上げてほしい話題などは、ぜひ電子メールにてお知らせください。いただいたメッセージは、番組内でご紹介させていただく可能性があります。
            </p>
            <p>
              宛先：<a href="mailto:podcast@kitabatake1013.jp">podcast@kitabatake1013.jp</a>
            </p>
            <h3>
              注意事項
            </h3>
            <p>
              番組内でご紹介する内容は、制作時点での制作者個人の理解と経験に基づいています。内容に誤りが含まれたり、時間の経過と共に仕様や状況が変化したりする可能性がありますので、あらかじめご了承ください。
            </p>
          </section>
          <footer class="article-footer">
            <a class="twitter-share-button" href="https://twitter.com/intent/tweet?hashtags={{ site.hashtag }}&url={{ site.github.url }}{{ page.url }}&text={{ page.title }}">
              Tweet
            </a>
          </footer>
        </article>
      </div>
    </main>
    {% include footer.html %}
  </body>
</html>
